@import url("@picocss/pico");

body {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
h1 {
  text-align: center;
  color: rgb(7, 99, 102);
  font-weight: bold;
}
h3 {
  text-align: center;
  font-family: Roboto;
}
.completed {
  text-decoration: line-through;
  font-weight: bold;
  color: #e60a0a;
}
span {
  font-size: 1.5em;
}
ion-icon {
  width: 30px;
  height: 30px;
  padding-left: 10px;
}
span li {
  font-family: Roboto;
}
